.card{
    border: 1px solid rgba(0,0,0,0.05);
    background-color: rgba(1,58,99, 0.85);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 250px;
    height: 75%;
    object-fit: cover;
}

p, h3{
    width: 70%;
    color: #ffffff;
    text-align: center;
}

@media screen and (max-width:650px) {
    img{
        width: 150px;
    }

    p{
        font-size: 0.7rem;
    }
}