.destinations{
    display: flex;
    width: 100%;
    height: 80svh;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(255,255,255) rgba(0,0,0,0);
}

@media screen and (max-width: 650px) {
    .destinations{
        height: auto;
        justify-content: center;
        align-items: center;
        width: 80svw;
        margin: 0px auto;
    }
}

