html, body {
    width: 100svw;
    height: 100svh;
    margin: 0;
    padding: 0;
}

body {
    background: 
      linear-gradient(120deg, rgba(1, 58, 99, 0.85) 0%, rgba(1, 58, 99, 0.4) 50%, rgba(255, 255, 255, 0) 100%),
      url('../public/assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100svh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media screen and (max-width:650px) {
    body {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment:scroll;
    }
}