*{
    user-select: none;
}

.socialMedia{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px
}

span{
    width: 4px;
    height: 50%;
    background-color: #ffffff;
}

ul{
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0;
    padding: 0 0;
    gap: 25px
}

li a {
    text-decoration: none;
    color: #ffffff
}

li a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}


@media screen and (max-width:650px)  {
    .socialMedia, ul{
        display: flex;
        flex-direction: row;
        padding: 10px;
        box-sizing: border-box;
    }

    span{
        height: 4px;
        width: 50%;
    }

    li a img{
        width: 25px;
        height: 25px;
    }
}